extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nostrum sed aspernatur reprehenderit commodi itaque ex similique magnam iure voluptas tenetur minima eum odio consequuntur corporis rerum, vero totam esse!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem. Odio repellendus, corporis beatae atque dolore dolorum recusandae ipsa laudantium cum minus in a modi nesciunt, rerum et quibusdam? Tempore.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem optio dolorum beatae atque et aspernatur assumenda explicabo excepturi consectetur dolore doloremque eum, praesentium voluptatibus harum quam perspiciatis omnis officiis totam?

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi obcaecati officiis autem ipsum porro excepturi, labore nobis enim odit, beatae, cum molestiae tempore fugiat maxime. Expedita doloribus ea quam numquam!
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi obcaecati officiis autem ipsum porro excepturi, labore nobis enim odit, beatae, cum molestiae tempore fugiat maxime. Expedita doloribus ea quam numquam!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi obcaecati officiis autem ipsum porro excepturi, labore nobis enim odit, beatae, cum molestiae tempore fugiat maxime. Expedita doloribus ea quam numquam!